.qna-container {
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 15px;
    width: auto;
    max-width: 100%;
    height: auto;

    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;

    color: whitesmoke;
    background-color: darkslategrey;

}

.qna-header {
    margin-left: 20px;
}