.activity-container img {
    height: 284px;
    width: 284px;
    max-width: 100%;
    border-radius: 15px;
}

.activity-container {
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 15px;

}

.activity-container button {
    background-color: royalblue;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.activity-container button:hover {
    background-color: darkcyan;
}