.aside-nav img {
    height: 70px;
    width: 70px;
    border-radius: 45%;
    padding-top: 50px;
    max-width: 100%;

}

.aside-nav {
    background-color: lightgoldenrodyellow;
    height: 100%;
    margin-left: 1px;
    text-align: center;


}


.rest-container {
    margin-top: 70px;
}


.rest-btn button {
    margin-left: 5px;
    margin-right: 5px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 45%;
    padding: 10px;
}

.rest-btn button:hover {
    background-color: darkcyan;

}

.activity-container {
    margin-top: 70px;

}

.finished-btn {
    margin-top: 50px;



}

.finished-btn button {
    background-color: royalblue;
    border: none;
    width: 80%;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-bottom: 20px;
}

.finished-btn button:hover {
    background-color: darkcyan;
}