nav {
    height: 70px;
    color: whitesmoke;
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    padding-left: 50px;
    max-width: 100%;
}

nav h1 {
    padding-left: 10px;
}